<!DOCTYPE HTML>
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <title>About page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
</head>
<body>
<h2>Statistics</h2>
<table border="0">
#foreach($record in $stats.entrySet())
	<tr>
		<td>$record.getKey()</td>
		<td>$record.getValue()</td>
	</tr>
#end
</table>
</body>
</html>