#parse("WEB-INF/vm/headHtml.vm")

<body>

#parse("WEB-INF/vm/mainMenu.vm")

<div class="container">
    <div class="row">
    	<div class="span10 offset1">
    		<legend>#springMessage("dialog.discounts")</legend>		
    		<table class="discounts table" id="discounts">
    			<thead>
    				<th>#springMessage("label.name")</th>
    				<th>#springMessage("label.limit")</th>
    				<th>#springMessage("label.alwaysFullRefund")</th>
    				<th>#springMessage("label.goodsCount")</th>
    				<th colspan="2">#springMessage("label.action")</th>
    			</thead>
    			<tbody>
	    			#foreach( $discount in $discounts )
	    				<tr>
						    <td>$esc.html("$!discount.getName()")</td>
						    <td>
						    	#if($!discount.getUseCardLimit())
						    		<input type="checkbox" class="control-label" disabled="disabled" checked="checked"/>
						    	#else
						    		<input type="checkbox" class="control-label" disabled="disabled"/>
	    						#end
						    </td>
						    <td>
						    	#if($!discount.getAlwaysFullRefund())
						    		<input type="checkbox" class="control-label" disabled="disabled" checked="checked"/>
						    	#else
						    		<input type="checkbox" class="control-label" disabled="disabled"/>
	    						#end
						    </td>
						    <td>$esc.html("$!discount.getPackCount()")</td>
						    <td>
						    	<a class="btn btn-info btn-mini" href="#springUrl('/discounts/edit?id=')$esc.url("$!discount.getId()")" title="#springMessage("button.edit")">
						    		<i class="icon-pencil icon-white"></i>
						    	</a>
						    </td>
						    <td>
						    	<button type="button" class="btn btn-danger btn-mini" onclick="confirmDeleting('$!discount.getId()', '$esc.html("$!discount.getName()")')" title="#springMessage("button.delete")">
						    		<i class="icon-trash icon-white"></i>
						    	</button>
						    </td>
						</tr>
			    	#end
    			</tbody>
    		</table>
    		<div class="form-actions">
    			<button type="button" class="btn btn-primary" onclick="addDiscount()">
					<i class="icon-plus-sign icon-white"></i>&nbsp;#springMessage("button.add")
				</button>
		    </div>
    	</div>
    </div>
</div>

<script type="text/javascript">

    var url_discount_add = "#springUrl('/discounts/add')";
    var url_discount_delete = "#springUrl('/discounts/delete')";
    
    var discounts = {
   	    button: {
   	        confirm: '#springMessage("button.confirm")',
   	        cancel: '#springMessage("button.cancel")'
   	    },
   	    label: {
   	        deletingConfirmation: '#springMessage("dialog.deletingConfirmation")'
   	    },
   	    question: {
   	        areYouSureToDelete: '#springMessage("question.areYouSureToDelete")'
   	    }, 
   	    msg: {
	   	    success: '#springMessage("msg.success")',
	   	    error: '#springMessage("msg.error")'
   	    }
   	};
   	
   	function showProgressBar(bit) {
   	    $('#discounts').after('<div class="progress progress-striped active"><div class="bar" style="width: '+bit+'%;"></div></div>');
   	};

   	function hideProgressBar() {
   		if ($('div.progress'))
        	$('div.progress').hide();
    };

#[[ // Turn off Velocity Engine
    
    function confirmDeleting(id, name) {
        console.log('do confirmDeleting: ' + id);
   	    $(".discounts").after(
   	        '<div class="alert alert-block alert-error fade in">'+
   	        '   <button class="close" data-dismiss="alert">&times;</button>'+
   	        '   <h4 class="alert-heading">'+discounts.label.deletingConfirmation+'</h4>'+
   	        '   <p>'+discounts.question.areYouSureToDelete+' "'+name+'" ?</p>'+
   	        '   <br />'+
   	        '   <button class="btn btn-danger" onclick="deleteDiscount(&quot;'+id+'&quot;,&quot;'+name+'&quot;)" data-dismiss="alert">'+discounts.button.confirm+'</button>'+
   	        '   <button class="btn" data-dismiss="alert">'+discounts.button.cancel+'</button>'+
   	        '</div>');
   	} 
	
   	function deleteDiscount(discountId, discountName) {
   	    $(".alert").alert();
   	    
   	    if ($('.alert'))
			$('.alert').hide();
		showProgressBar(50);
   	    
   	    $.ajax({
   	        url: url_discount_delete,
   	        data: { id: discountId, name: discountName },
   	        type: 'post',
   	        success: function(response) {
   	            console.log("response: " + response.data);
   	            hideProgressBar();
				if (response.success) {
					$('#discounts').after('<div class="alert alert-success"><a class="close" data-dismiss="alert">&times;</a><span class="badge badge-success">' + discounts.msg.success + '</span>&nbsp;' + response.data + '.</div>');
					$("td:contains(" + discountName + ")").parent('tr').remove();
				} else {
					$('#discounts').after('<div class="alert alert-error"><a class="close" data-dismiss="alert">&times;</a><span class="badge badge-error">' + discounts.msg.error + '</span>&nbsp;' + response.message + '.</div>');
				}
   	        }
   	    });
   	}
   	
   	function addDiscount() {
   		window.location.href=url_discount_add;
   	}
   	
]]#
      	
</script>

#parse("WEB-INF/vm/footer.vm")