#foreach($discount in $limitsByDiscount.entrySet())
    <tr class="info">
        <td colspan="7"><i>#springMessage("label.discount"): $!discount.key</i></td>
    </tr>
    #foreach($record in $!discount.value)
	    <tr>
	        <td>
		        #if ($!record.period)
		            $!record.period
		        #else
		            -
		        #end
	        </td>
	        <td>
				#if ($!record.limitGroupId)
	    			$!record.limitGroupId
	    		#else
	    		  -
	    		#end
			</td>
	        <td class="text-center">
	            #if ($!record.remainingAveragePackCount)
	                $!record.remainingAveragePackCount
	            #else
	                -
	            #end
	        </td>
	        <td class="text-center">
	            #if ($!record.remainingDiscountSum)
	                $!record.remainingDiscountSum
	            #else
	                -
	            #end
	        </td>
	        <td class="text-center">
	            #if ($!record.remainingPackCount)
	                $!record.remainingPackCount
	            #else
	                -
	           #end
	        </td>
	        <td class="text-center">
	            #if ($!record.remainingSumBeforeDiscount)
	                $!record.remainingSumBeforeDiscount
	            #else
	                -
	           #end
	       </td>
	    </tr>
    #end
#end