<div class="page">
    <div style="position: none;" id="responseDialog" class="modal hide fade">
        <div class="modal-header">
          <a class="close" data-dismiss="modal">&times;</a>
          <h3 id="responsetitle"></h3>
        </div>
        <div class="modal-body">
          <form id="responseform">
            <fieldset>
              <label id="responselabel"></label>
              <textarea class="prettyprint linenums span5" id="responsetextarea" name="response" rows="10"></textarea>
            </fieldset> 
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal">#springMessage("button.quit")</button>
        </div>
    </div>
</div>
