<div class="row">
	<form class="well form-inline span12">
		<div class="control-group">
			<label for="ticket_number">#springMessage("label.helpdesk.ticketTable.number")</label>
			<input class="ticket_number" type="text" value="$!ticket.getTicketId().toString()" readonly="readonly" />
			
			<label for="ticket_date">#springMessage("label.helpdesk.ticketTable.date")</label>
			<input class="ticket_date" type="text" value="$dateFormatter.print($!ticket.getDate())" readonly="readonly" />
		</div>

		<div class="control-group">
			<label for="ticket_theme">#springMessage("label.helpdesk.ticketTable.theme")</label>
			<input class="ticket_theme" type="text" value="$esc.html($!ticket.getSubject())" readonly="readonly" />
			
			<input class="ticket_period" type="hidden" value="$esc.html($!ticket.getPeriod())" />
		</div>
		
		<div class="control-group">
			<label for="ticket_name">#springMessage("label.helpdesk.ticketTable.name")</label>
			<input class="ticket_name" type="text" value="$!ticket.getName()" readonly="readonly" />
			
			<label for="ticket_phone">#springMessage("label.helpdesk.ticketTable.phone")</label>
			<input class="ticket_phone" type="text" value="$!ticket.getPhone()" readonly="readonly" />
			
			<label for="ticket_card_number">#springMessage("label.helpdesk.ticketTable.cardNumber")</label>
			<input class="ticket_card_number" type="text" value="$!ticket.getCardNumber()" readonly="readonly" />
			
			<label for="ticket_transaction_row_id">#springMessage("label.helpdesk.ticketTable.transactionNumber")</label>
			<input class="ticket_transaction_row_id" type="text" value="$!ticket.getVoucherRowId()" readonly="readonly" />
		</div>
	
	</form>
</div>

	<div class="posts">
		#set( $counter = 1 )
		#foreach($record in $posts)
			<div class="row">
				<div class="span11 offset1">
					<table class="table table-bordered">
						<thead>
						<th>
							<span class="badge">$counter</span>
						</th>
						<th>
							#springMessage("label.helpdesk.ticketPost.date"): $dateFormatter.print($!record.getDate())
						</th><th>
							#springMessage("label.helpdesk.ticketPost.author"): $!record.getAuthor()
						</th><th>
							#springMessage("label.helpdesk.ticketPost.status"): $!record.getStatus()
						</th>
						</thead>
						<tbody>
							<tr><td colspan="4">
								$esc.html("$!record.getPost()")
							</td></tr>
						</tbody>
					</table>
				</div>
			</div>
			#set( $counter = $counter + 1 )
		#end
	</div>
<style type="text/css">
	.ticket_number
	{
		width:10em;
	}
	.ticket_date
	{
		width:19em;
	}
	.ticket_theme
	{
		width:45em;
	}
	.ticket_name
	{
		width:15em;
	}
	.ticket_phone
	{
		width:10em;
	}
	.ticket_card_number
	{
		width:10em;
	}
	.ticket_transaction_row_id
	{
		width:10em;
	}
	.control
	{ 
    	width: 100%;
	}
</style>
