#parse("WEB-INF/vm/headHtml.vm")

<body>

#parse("WEB-INF/vm/mainMenu.vm")

<div class="container">
    <div class="row">
    	<div class="span10 offset1">
    		<legend>#springMessage("dialog.users")</legend>		
    		<table class="users table">
    			<thead>
    				<th>#springMessage("label.user")</th>
    				<th>#springMessage("label.roleCardViewHeader")</th>
    				<th>#springMessage("label.roleCardGeneralHeader")</th>
    				<th>#springMessage("label.roleCardBalanceHeader")</th>
    				<th>#springMessage("label.roleDrugstoreViewHeader")</th>
    				<th>#springMessage("label.roleDrugstoreEditHeader")</th>
    				<th>#springMessage("label.roleDrugstoreReportsHeader")</th>
    				<th>#springMessage("label.roleManufacturerReportsHeader")</th>
    				<th>#springMessage("label.roleHelpdeskHeader")</th>
    				<th>#springMessage("label.roleTransactionsExportHeader")</th>
    				<th>#springMessage("label.roleAdministrationHeader")</th>
    				<th>#springMessage("label.roleRecipeReceiveHeader")</th>
    				<th>#springMessage("label.roleRecipeParseHeader")</th>
    				<th>#springMessage("label.roleRecipeVerifyHeader")</th>
    				<th>#springMessage("label.roleRecipeProblemHeader")</th>
    				<th colspan="2">#springMessage("label.action")</th>
    			</thead>
    			<tbody>
	    			#foreach( $user in $users )
	    				<tr>
						    <td>$esc.html("$!user.getId()")</td>
						    #if($!user.hasRoleCardView())
						    	<td title="#springMessage("label.roleCardView")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleCardGeneral())
						    	<td title="#springMessage("label.roleCardGeneral")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleCardBalance())
						    	<td title="#springMessage("label.roleCardBalance")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleDrugstoreView())
						    	<td title="#springMessage("label.roleDrugstoreView")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleDrugstoreEdit())
						    	<td title="#springMessage("label.roleDrugstoreEdit")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleDrugstoreReports())
						    	<td title="#springMessage("label.roleDrugstoreReports")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleManufacturerReports())
						    	<td title="#springMessage("label.roleManufacturerReports")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleHelpdesk())
						    	<td title="#springMessage("label.roleHelpdesk")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleTransactionsExport())
						    	<td title="#springMessage("label.roleTransactionsExport")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleAdministration())
						    	<td title="#springMessage("label.roleAdministration")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleRecipeReceive())
						    	<td title="#springMessage("label.roleRecipeReceive")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleRecipeParse())
						    	<td title="#springMessage("label.roleRecipeParse")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleRecipeVerify())
						    	<td title="#springMessage("label.roleRecipeVerify")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
    						#if($!user.hasRoleRecipeProblem())
						    	<td title="#springMessage("label.roleRecipeProblem")"><i class="icon-ok"></i></td>
    						#else
    							<td></td>
    						#end
						    <td>
						    	<a class="btn btn-info btn-mini" href="#springUrl('/user/edit?id=')$esc.url("$!user.getId()")" title="#springMessage("button.edit")">
						    		<i class="icon-pencil icon-white"></i>
						    	</a>
						    </td>
						    <td>
						    	<button type="button" class="btn btn-danger btn-mini" onclick="confirmDeleting('$esc.url("$!user.getId()")','$esc.html("$!user.getId()")')" title="#springMessage("button.delete")">
						    		<i class="icon-trash icon-white"></i>
						    	</button>
						    </td>
						</tr>
			    	#end
    			</tbody>
    		</table>
    		<div class="form-actions">
    			<button type="button" class="btn btn-primary" onclick="addUser()">
					<i class="icon-plus-sign icon-white"></i>&nbsp;#springMessage("button.add")
				</button>
		    </div>
    	</div>
    </div>
</div>

<script type="text/javascript">

    var url_user = "#springUrl('/user')";
    var url_user_add = "#springUrl('/user/add')";
    var url_user_delete = "#springUrl('/user/delete/')";
    
    var users = {
   	    title: '#springMessage("dialog.users")',
   	    button: {
   	        confirm: '#springMessage("button.confirm")',
   	        cancel: '#springMessage("button.cancel")',
   	    },
   	    label: {
   	        deletingConfirmation: '#springMessage("dialog.deletingConfirmation")',
   	    },
   	    question: {
   	        areYouSureToDelete: '#springMessage("question.areYouSureToDelete")'
   	    }
   	};

#[[ // Turn off Velocity Engine
    
    function confirmDeleting(id, name) {
        console.log('do confirmDeleting: ' + id);
   	    $(".users").after(
   	        '<div class="alert alert-block alert-error fade in">'+
   	        '   <button class="close" data-dismiss="alert">&times;</button>'+
   	        '   <h4 class="alert-heading">'+users.label.deletingConfirmation+'</h4>'+
   	        '   <p>'+users.question.areYouSureToDelete+' "'+name+'" ?</p>'+
   	        '   <br />'+
   	        '   <button class="btn btn-danger" onclick="deleteUser(&quot;'+name+'&quot;)" data-dismiss="alert">'+
   	                users.button.confirm+'</button>'+
   	        '   <button class="btn" data-dismiss="alert">'+users.button.cancel+'</button>'+
   	        '</div>');
   	} 
	
   	function deleteUser(id) {
   	    $(".alert").alert();
   	    console.log('do deleteUser: ' + id);
   	    $.ajax({
   	        url: url_user_delete + id,
   	        type: 'delete',
   	        async: false,
   	        success: function(response) {
   	            console.log("response: " + response.data);
   	            window.location.href=url_user;
   	        }
   	    });
   	}
   	
   	function addUser() {
   		window.location.href=url_user_add;
   	}
   	
]]#
      	
</script>

#parse("WEB-INF/vm/footer.vm")