<!DOCTYPE HTML>
<html lang="ru">
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="icon" type="image/png" href='#springUrl("/resources/img/favicon.png")' rel="icon"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>Transaction Report</title>
</head>
<body>
<div align="center">
<p>${messageSource.getMessage("label.period", $noArgs, $locale)}: $report.period<p>
<p>${messageSource.getMessage("label.drugstore", $noArgs, $locale)}: $report.name<p>
<table class="table">
    <thead>
        <tr>
            <td>${messageSource.getMessage("label.ekt", $noArgs, $locale)}</td>
            <td>${messageSource.getMessage("label.name", $noArgs, $locale)}</td>
            <td>${messageSource.getMessage("label.quantity", $noArgs, $locale)}</td>
            <td>${messageSource.getMessage("label.price", $noArgs, $locale)}</td>
            <td>${messageSource.getMessage("label.sumWithoutDiscount", $noArgs, $locale)}</td>
            <td>${messageSource.getMessage("label.discountValue", $noArgs, $locale)}</td>
            <td>${messageSource.getMessage("label.discountSum", $noArgs, $locale)}</td>
            <td>${messageSource.getMessage("label.refundSum", $noArgs, $locale)}</td>
        </tr>
    <thead>
    <tbody>
    #foreach($transaction in $report.transactionList)
    <tr>
        <td>$transaction.ekt</td>
        <td>$transaction.name</td>
        <td>$transaction.quantity</td>
        <td>$transaction.price</td>
        <td>$transaction.sumWithoutDiscount</td>
        <td>$transaction.discountValue</td>
        <td>$transaction.discountSum</td>
        <td>$transaction.refundSum</td>
    </tr>
    #end
    </tbody>
    <tfoot>
        <th colspan="4">&nbsp;</th>
        <th>$report.amountWithoutDiscount</th>
        <th>&nbsp;</th>
        <th>$report.discountAmount</th>
        <th>$report.refundAmount</th>
    </tfoot>
</table>
</div>
</body>
<script type="text/javascript">
////////////////////////////// VARIABLE DEFINITION ///////////////////////////////////

#[[ // Turn off Velocity Engine
////////////////////////////// ONREADY SECTION ///////////////////////////////////
$(document).ready(function(){
    
});
]]#
</script>
</html>
